:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --black-color-2: #181818;
  --color-text-light: #d8d3d3;
  --shadow-title: #efebeb4a;
  --shadows-color: rgba(0, 0, 0, 0.75);
  --purple-color: #65086f;
  --bck-purple: rgba(82, 7, 87, 0.341);
  --red: #b5121d;
  --shadow-red: #86060f;
}
.title {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: var(--button-color-bck);
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #fff,
    0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18,
    0 0 75px #4aff18, 2px 2px 2px rgba(206, 89, 55, 0); */
}
