input {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-text-light);
  border: none;
  color: var(--black-color);
  -webkit-text-stroke: 0.5px var(--black-color);
  font-size: 16px;
  border-radius: 8px;
}
input:focus {
  outline: 3px solid var(--button-color-bck);
  background-color: whitesmoke;
}
