:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --black-color-2: #181818;
  --color-text-light: #d8d3d3;
  --shadow-title: #efebeb4a;
  --shadows-color: rgba(0, 0, 0, 0.75);
  --purple-color: #65086f;
  --bck-purple: rgba(82, 7, 87, 0.341);
  --red: #b5121d;
  --shadow-red: #86060f;
}
.card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0px var(--shadows-color);
  cursor: pointer;
  transition: ease-in-out.5s;
}
.card-title {
  padding: 0.5rem;
  text-align: center;
}
.image-container {
  border-radius: 20px;
  max-height: 180px;
  max-width: 200px;
}
.image-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 0 1px #ffffffab, 0 0 5px #ffffffb2, 0 0 5px #ffffffb1,
    0 0 10px #8418ff, 0 0 8px #49ff18, 0 0 8px #8418ff, 0 0 8px #8418ff,
    0 0 10px #8418ff, 2px 2px 2px rgba(206, 89, 55, 0);
}
