:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --black-color-2: #181818;
  --color-text-light: #d8d3d3;
  --shadow-title: #efebeb4a;
  --shadows-color: rgba(0, 0, 0, 0.75);
  --purple-color: #65086f;
  --bck-purple: rgba(82, 7, 87, 0.341);
  --red: #b5121d;
  --shadow-red: #86060f;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1rem 0;
}
.logo-container {
  width: 160px;
  padding: 0 1rem;
}
.logo-container > img {
  width: 100%;
  object-fit: cover;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}
.nav > * {
  padding-right: 3rem;
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: bold;
  font-size: 1.2rem;
}
.nav > *::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-text-light);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

.nav > *:hover::after {
  transform: scale(1, 1);
}
@media (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .nav > * {
    padding-right: 0;
  }
}
