:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --black-color-2: #181818;
  --color-text-light: #d8d3d3;
  --shadow-title: #efebeb4a;
  --shadows-color: rgba(0, 0, 0, 0.75);
  --purple-color: #65086f;
  --bck-purple: rgba(82, 7, 87, 0.341);
  --red: #b5121d;
  --shadow-red: #86060f;
}
footer {
  color: var(--color-text-light);
  -webkit-text-stroke: 0.5px var(--color-text-light);
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer > p {
  text-align: start;
  margin: 6px;
}
