:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --black-color-2: #181818;
  --color-text-light: #d8d3d3;
  --shadow-title: #efebeb4a;
  --shadows-color: rgba(0, 0, 0, 0.75);
  --purple-color: #65086f;
  --bck-purple: rgba(82, 7, 87, 0.341);
  --red: #b5121d;
  --shadow-red: #86060f;
}
.principal {
  min-height: 86.5svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/236x/45/e2/1e/45e21e656f1fbc081c24188a4d638625.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-light);
}
.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
@media (max-width: 540px) {
  .principal {
    background-size: cover;
  }
}
