@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=News+Cycle:wght@400;700&family=Permanent+Marker&family=Righteous&display=swap');
:root {
  --button-color-bck: #ff7614;
  --black-color: #0b0808;
  --color-text-light: #d8d3d3;
  --shadows-color: rgba(0, 0, 0, 0.75);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle', sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-text-light);
}
